body {
    padding: 0;
    margin : 0;
}

#olympicContainer {
    background-color: green;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quizzContainer {
    width: 800px;
    height: 600px;
    background-color: blue;
    margin: 50px;
    
}

#raceContainer {
    width: 500px;
    height: 200px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

#timeMachineContainer {
    background-color: green;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
}

#swimmerContainer {
    width: 50px;
    height: 600px;
    top: 20;
    align-items : flex-end;
    background-color: blue;
}

#player1 {
    width: 50px;
    height: 50px;
    position: relative;
}

#player2 {
    width: 50px;
    height: 50px;
    position: relative;
}

#player3 {
    width: 50px;
    height: 50px;
    position: relative;
}

#player4 {
    width: 50px;
    height: 50px;
    position: relative;
}